<!doctype html>
<html lang="pt-BR">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ assets('css/libs/bootstrap-5.3.2.min.css') }}?v={{ version() }}">
    <link rel="stylesheet" href="{{ assets('css/style.css') }}?v={{ version() }}">
</head>
<body>

<nav class="navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed top</a>
    </div>
</nav>

<div class="container-fluid text-white bg-light">
    {% block content %}{% endblock content %}
</div>

{% block scripts %}
    <script type="application/javascript" src="{{ assets('js/libs/jquery-3.7.1.min.js') }}?v={{ version() }}"></script>
    <script type="application/javascript" src="{{ assets('js/script.js') }}?v={{ version() }}"></script>

{% endblock scripts %}
</body>
</html>
