<!doctype html>
<html lang="pt-BR">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ assets('css/libs/bootstrap-5.3.2.min.css') }}?v={{ version() }}">
    <link rel="stylesheet" href="{{ assets('css/style.css') }}?v={{ version() }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"></head>
<body class="overflow-x-hidden">

<nav class="nav justify-content-center">
    <a class="nav-link active text-light disabled" href="#">TODO LIST</a>
    <a class="nav-link text-light" href="/logout">
        Sair &nbsp;<i class="bi bi-box-arrow-right"></i>
    </a>
</nav>

<div class="canvas container-fluid overflow-y-hidden overflow-x-scroll">
    {% block content %}{% endblock content %}
</div>

{% block scripts %}
    <script type="application/javascript" src="{{ assets('js/libs/jquery-3.7.1.min.js') }}?v={{ version() }}"></script>
    <script type="application/javascript" src="{{ assets('js/libs/bootstap-5.3.2.min.js') }}?v={{ version() }}"></script>
    <script type="application/javascript" src="{{ assets('js/libs/draganddropmobile.js') }}?v={{ version() }}"></script>

    <script type="application/javascript" src="{{ assets('js/Global.js') }}?v={{ version() }}"></script>
    <script type="application/javascript" src="{{ assets('js/WebSocketClient.js') }}?v={{ version() }}"></script>
    <script type="application/javascript" src="{{ assets('js/Ajax.js') }}?v={{ version() }}"></script>

    <script type="application/javascript" src="{{ assets('js/Card/Card.js') }}?v={{ version() }}"></script>
    <script type="application/javascript" src="{{ assets('js/Board/Board.js') }}?v={{ version() }}"></script>
    <script type="application/javascript" src="{{ assets('js/Card/HandleCardAjax.js') }}?v={{ version() }}"></script>
    <script type="application/javascript" src="{{ assets('js/Card/HandleCardEvents.js') }}?v={{ version() }}"></script>

    <script type="application/javascript" src="{{ assets('js/Kanban/Kanban.js') }}?v={{ version() }}"></script>
{% endblock scripts %}
</body>
</html>
